
html,
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Montserrat Light,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.white-content {
  background: hsl(0deg 0% 13%);
  color: whitesmoke;
}
.white-content input {
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
}
