
html,
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 2.8rem; 
  background-color: #FF5C35;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  padding-top: 10px;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.white-content {
  background: hsl(0deg 0% 13%);
  color: whitesmoke;
}
.white-content input {
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
}
