.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
  /* footer height */
  padding-top: 100px;
  max-width: 2000px;
}

.footer {
  font-family: 'gothamRoundedMedium';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.8rem;
  background-color: #FF5C35;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  padding-top: 10px;
  opacity: 0.9;

}

@media screen and (max-width: 900px) {
  .footer {
    font-size: 0.6rem;

  }
}