.portfolioGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px
}

.portfolioItem {
  min-width: 350px;
}

.innerCard {
  display: grid;
  grid-template-columns: 170px 1fr;
}

.titleForm {
  text-align: center;
}

@media (max-width: 600px) {
  .portfolioGrid {
    grid-template-columns: 1fr;
  }
}
